* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #000;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header {
  position: relative;
  width: 100%;
  height: 770px;
  overflow: hidden;
}
.header-bg {
  position: absolute;
  background: #000;
  width: 100%;
  height: 780px;
  top: 0;
  right: 0;
}

.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: -webkit-linear-gradient(#fff, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30rem;
  margin-top: 1.5rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  z-index: 0;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: headerTextAnim 3s ease-out 3s 1 normal forwards;
}

@keyframes headerTextAnim {
  0% {
    opacity: 0;
    width: 0;
  }

  100% {
    opacity: 1;
    width: auto;
  }
}

.header-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("img/lisa.png") no-repeat center center;
  background-size: contain;
  z-index: 1;
  animation: headerImgAnim 3s ease-in 6s 1 normal backwards;
}
@keyframes headerImgAnim {
  0%,
  40%,
  60%,
  80% {
    opacity: 0;
  }

  20%,
  50%,
  70%,
  90%,
  100% {
    opacity: 1;
  }
}

.sec-text {
  position: absolute;
  top: 0;
  left: 50%;
  background: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  transform: translateX(-50%);
  font-size: 8.5rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  z-index: 0;
  text-align: center;
  text-wrap: nowrap;
  transform-origin: right center;
  animation: headerAnim 3s linear 0s 1 normal forwards;
}
@keyframes headerAnim {
  0% {
    opacity: 0;
    width: 0;
  }

  100% {
    opacity: 1;
    width: 100%;
  }
}

.sec-text2 {
  position: absolute;
  bottom: 0;
  left: -50%;
  transform: translateX(50%);
  background: transparent;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  font-size: 8.5rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  z-index: 1;
  text-align: center;
  white-space: nowrap;
  transform-origin: left center;
  animation: headerAnim 3s linear 0s 1 normal forwards;
}

.main1 {
  margin-top: 3rem;
  margin-bottom: 3rem;
  position: relative;
  width: 100%;
  height: 390px;
  overflow: hidden;
  background: #000;
}

.chrome-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotate(0deg); /* Combine centering and rotation */
  background: url("img/starlogo.png") no-repeat center center;
  background-size: cover;
  width: 20rem;
  height: 20rem;
  z-index: 1;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}

.chrome-logo2 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("img/chrome2.webp") no-repeat center center;
  background-size: contain;
  background-size: cover;
  width: 60rem;
  height: 30rem;
  z-index: 0;
}

.main2 {
  margin: 0;
  position: relative;
  width: 100%;
  height: 700px;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow: hidden;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0) 50%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("img/lisa2.jpg") no-repeat top center;
  background-size: cover;
  /* background-attachment: fixed; */
  border: none;
}

.content1,
.content3 {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.1),
    rgba(0, 0, 0, 0.3)
  );
  width: 80%;
  height: 25%;
  margin-bottom: 3rem;
  margin-left: 0;
  margin-right: auto;
}

.content2 {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1),
    rgba(0, 0, 0, 0.3)
  );
  width: 80%;
  height: 25%;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: 0; /* Align right */
}

.content1 {
  margin-bottom: 3rem;
}

.main2-b {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 700px;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.video-container {
  position: relative;
  width: 30rem;
  height: 30rem;
  overflow: hidden;
  background-color: transparent;
  box-shadow: -1px 0 0 0 #fff, 1px 0 0 0 #fff;
  display: flex;
  padding-left: 3rem;
  padding-right: 3rem;
  justify-content: center;
  align-items: center;
  background: transparent;
}

video {
  width: 100%;
  height: auto;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  position: relative;
}

.main2-b-left {
  padding-left: 3rem;
  padding-right: 3rem;
}

.main2-b-left h1 {
  background: transparent;
  color: #fff;
  font-size: 6rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
}
.main2-b-left p {
  background: transparent;
  color: #fff;
  font-size: 1.5rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 200;
  font-style: normal;
  text-align: left;
  
}

.main2-b-right h1 {
  background: transparent;
  color: #fff;
  font-size: 6rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  writing-mode: vertical-rl;
  transform: rotate(360deg);
  text-wrap: wrap;
  padding-left: 3rem;
  padding-right: 3rem;
}

@media (max-width: 1300px) {
  .main2-b {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
    height: auto;
  }

  .video-container {
    width: 100%;
    height: auto;
    box-shadow: none;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  br {
    display: none;
  }
  .main2-b-left,
  .main2-b-right {
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 100%;
  }

  .main2-b-left h1,
  .main2-b-right h1 {
    font-size: 5rem;
  }

  .main2-b-left p {
    font-size: 1rem;
  }

  .main2-b-left h1 {
    text-align: center;
  }
  .main2-b-left p {
    text-align: center;
  }

  .main2-b-right h1 {
    writing-mode: initial;
    text-align: center;
    transform: rotate(0); /* Remove rotation */
  }
  .main2-b-right .remove {
    display: none;
  }
}

@media (max-width: 1299px) and (min-width: 800px) {
  .remove {
    display: inline-block !important;
  }
  .main2-b-right h1 {
    text-wrap: nowrap;
  }
  .main2-b-left {
    font-size: 1.5rem !important;
  }
}

.main3 {
  width: 100%;
  height: 15rem;
  overflow: hidden;
  background: #000;
  position: relative;
}
.text-loop {
  margin: 3rem;
  position: relative;
  display: flex;
  animation: slideRightToLeft 20s linear infinite;
  position: absolute;
}

@keyframes slideRightToLeft {
  0% {
    transform: translateX(100%); 
  }
  50% {
    transform: translateX(0); /
  }
  100% {
    transform: translateX(-100%); 
  }
}

.abText {
  font-size: 15rem;
  line-height: 60%;
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  background: transparent;
  text-wrap: nowrap;
}
.lisa {
  position: relative;
  width: 100%;
  height: 770px;
  padding: 3rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center; /* Centers .img1 horizontally */
  align-items: center; /* Centers .img1 vertically */
  overflow: hidden;
}



.lisa .img1 {
  position: absolute;
top: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0) 50%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("img/lisa.png") no-repeat center; /* Center the image */
  background-size: contain;
  width: 30rem;
  height: 30rem;
  transform: scaleX(-1) !important;
 }


.lisa .img3 {
  position: absolute;
left: 50%; 
top: 25%; 
/* transform: translate(200px, -20px);  */
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0) 80%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("img/lisa1.png") no-repeat center; /* Center the image */
  background-size: contain;
  width: 22.5rem;
  height: 22.5rem;
 }

.lisa .img2 {
position: absolute;
right: 50%; 
top: 10%; 
/* transform:translate(-250px, -50px);  */
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0) 50%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("img/lisa2.png") no-repeat center; /* Center the image */
  background-size: contain;
  width: 30rem;
  height: 30rem;
 }

.lisa .img4 {
  position: absolute;
  bottom: -30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0) 50%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("img/lisa3.png") no-repeat center; /* Center the image */
  background-size: contain;
  width: 35rem;
  height: 35rem;
 }

.lyrics-container {
  width: 100%;
  height: 770px;
  padding: 5rem;
  font-family: "Bebas Neue", sans-serif;
  background: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  
}

.lyrics-left {
  color: #fff;
  background: transparent;
  font-size: 7rem;
  line-height: 90%;
  letter-spacing: 20px;
  padding: 3rem;
  writing-mode: vertical-lr;
  transform: rotate(180deg); 
  font-weight: 200;
  font-style: normal;
}

.lyrics-left h1{
 background: transparent;
}

.lyrics-left .two{
 background: transparent;
 -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}

@media (max-width: 1350px) {
 .lyrics-left .two, .one{
 display: none;
}
.lyrics-container{
 flex-direction: column;
 height: auto;
}

.lyrics-container br{
 display: none;
}

.lyrics-left {
 text-align: center;
 font-size: 5rem;
  writing-mode: horizontal-tb; 
  transform: rotate(360deg); 
}

}


.lyrics-right {
 padding: 2rem;
 font-size: 1rem;
  background: none;
  border: 5px solid #fff; 
  width: auto;
  height: auto;
  
}

pre{
 background: transparent;
 color: #fff;
 font-weight: bold;
}

footer{
 width: 100%;
 height: 80px;
 padding: 5rem;
 display: flex;
 justify-content: center;
 text-align: center;
 color: #fff;
 font-size: 20px;

}

footer a{
 text-decoration: none;
 font-weight: bold;
 color: rgb(123, 122, 122);
}

